/** Puntas decorativas svg **/

.outter-svg-container{
  display: block;
}



/** Menu top **/
.lengua-sitio,
.menu-profesional{

  a .outter-svg-container{
    display: none;
    z-index: 910;
  }

  &:hover{
    a .outter-svg-container{
      display: block;
    }
  }
}

.redes-sociales,
.acceso-profesional{
  text-align: right;
}


/** Menú principal **/

.tinynav { display: none }
.menu-principal{
  #main-nav{
    display: block;
    display: flex;
    justify-content: space-between;
    position: relative;

    .dropdown{
      display: none;
      border: none;
      background-color: $primario-azul;
      position: absolute;
      width: 100%;
      bottom:-112%;
      left:0;
      margin: 0;

      a{
        color: $alt-blanco;
      }
    }

    >li{
      &:hover,
      &.activo{
        .dropdown{
          display: block;
         //display: flex;
         //justify-content: space-between;

          li{
            margin-bottom:0;
            &:hover{
              border:none;
              background-color: $primario-azul-oscuro;
            }
          }
        }
      }
    }

    &:hover{
      li:hover{
        z-index: 100}
    }
    &.activo{
      li:hover{
        z-index: 50}
    }

  }
}


/** Breadcrumb **/

.breadcrumb-nav{
  @include x-rem(margin-top, 5);
}


/** Ancho maximo dispositivos moviles **/

main{
  &.max_480{
    max-width: 100%;
    margin: 0;
  }
}

/** Banners **/

.banner--vertical{
  max-width: auto;
}

.banner-horizontal{
  &.banner--full{
    .texto--banner{
      width: 40%;
      @include x-rem(padding, 3 1.5 1.5 3);
    }
  }
}



/** slider **/

.slider-control{
  padding-top: 0;
}


/** Formularios **/

form{
  label{
    @include x-rem(padding-left, 1.5);
  }
}



/*** Página de inicio ***/

.front_page{
  .banner_contacto{
    max-width: 100%;

    .header--banner{
      width: 30%;
      @include x-rem(margin-right, 1.5);
    }

    .contenedor_sede{
      display: inline-block;
    }
  }

  .banner--app_movil{
    .contenido--banner{
      @include x-rem(padding, 2 1);
    }
  }
}


/** Directorio Analisis **/

.lista_directorio dt a{

  .codigo-analisis{
    width: 15%;
  }

  .nombre-analisis{
    @include x-rem(margin-left, 1.5);

  }

  &.analisis--con_precio{
    .nombre-analisis{
      width: 60%;
    }

    .precio-analisis{
      width: 15%;
      //color: $alt-negro;
    }
  }
}

.descripcion-analisis{
  dt{
    margin-top: 0;
  }
}


/** Profesionales **/

.contenedor--profesionales{
  max-width: 100%;
}


/** Publicaciones **/

.lista-publicaciones{
 margin: 0;
}


/** Contacto **/
.mapa-contacto{
  .flex-video{
    @include x-rem(margin-bottom, 1.5);
  }
}

.info-contacto{
  width: 32%;
  @include x-rem(bottom, 1);

}

/** Footer **/

footer{
  @include x-rem(margin-bottom, 1.5);
}

.certificaciones--footer{

  .outter-svg-container{
    display: none;

  }

}



/****************************************************
*****************************************************
******  ESTILOS AREA DE ACCESO PROFESIONAL  *********
*****************************************************
****************************************************/

/** Carga de muestras **/
.carga_muestra--seccion,
.acceso{
  max-width: 100%;

  /*&:last-of-type{
    margin-bottom: 0;
  }*/
}

.pacietnes-cargados {
  #pedido{
    height: 36em;
  }
}

.label-seccion{
  width: 90%;
}

/** Acceso **/
section.acceso{
  .label-seccion{
    width: 60%;
  }
}


/*** Lista de resultados de protocolos ***/

// .lista_resultados{
//
//   dt{
//     .nombre_paciente{
//       //text-align: left;
//     }
//   }
// }

.resultados_pacientes{
  .check_protocolo{
    display: block;
  }
}